@import url("file:///home/ink/.config/wofi/colors.css");

window {
  background-color: @bg;
}

* {
  font-family: "Jetbrains Mono";
  color: @fg;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: @bg;
  color: @fg;
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  background-color: @c4;
  outline: none;
}

#text:selected {
  color: @bg;
}
